.nice-day-container {
    padding-left: 16px;
    padding-right: 16px;
    color:#C7C8CC;
    background-color: #191B20;
    padding-bottom: 20px;
  }
  .nice-day-container>div{
    background-color: #1F2544;
    padding-left: 5px;
    padding-right: 5px;
    border-radius:3px ;
  }
  h4 {
    font-size: 15px;
    margin-bottom: 12px;
    font-weight: 400;
    
  }
  
  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  p {
    font-size: 14px;
    margin:0px;
    padding: 0px;
  }
  
  .community-button {
    background-color: #4caf50; /* Green color, replace with your desired color */
    color: #fff;
    padding: 6px 6px;
    border-radius: 5px;
    cursor: pointer;
  
    font-size: small;
  }
  